__pycache__/
*.py[cod]

.idea
venv
*.pyc

files/*
!files/sample.odp

package-lock.json
node_modules

src/
.env

/VERSION.json

app/main/mse22/converted_files/
/app/main/mse22/for_testing/test/.pytest_cache/
