services:
  selenium-tests:
    build:
      context: .
      dockerfile: Dockerfile_selenium
    environment:
      - LOGIN=admin
      - PASSWORD=${ADMIN_PASSWORD}
    depends_on:
      - web
    network_mode: service:web
