<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница настройки шкалы проверки и выбора критериев для проверки</title>
    <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/criteria.css">
    <script src="/public/scripts/criteria.js"></script>
</head>
<body>
<div>
    <div class="header"></div>
    <h1 class="title">Выбор критериев для проверки</h1>

    <div class="criteria_container" id="simple_criteria_container"></div>
    <h1 class="criteria_header" id="simple_criteria">Простые критерии</h1>
        <div class="form-check" id="slides_count_check">
            <input class="form-check-input" type="checkbox" value="" id="slides_count">
            <label class="form-check-label" for="slides_count">Количество основный слайдов</label>
        </div>
        <div class="form-check" id="slides_numeration_check">
            <input class="form-check-input" type="checkbox" value="" id="slides_numeration">
            <label class="form-check-label" for="slides_numeration">Нумерация слайдов</label>
        </div>
        <div class="form-check" id="slide_headers_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_headers">
            <label class="form-check-label" for="slide_headers">Заголовки слайдов занимают не более двух строк</label>
        </div>
        <h3 class="criteria_sub_header" id="main_criteria">Наличие основных слайдов:</h3>
        <div class="form-check" id="slide_objectives_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_objectives">
            <label class="form-check-label" for="slide_objectives">"Цель и задачи"</label>
        </div>
        <div class="form-check" id="slide_checking_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_checking">
            <label class="form-check-label" for="slide_checking">"Апробация работы"</label>
        </div>
        <div class="form-check" id="slide_conclusion_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_conclusion">
            <label class="form-check-label" for="slide_conclusion">"Заключение"</label>
        </div>
        <div class="form-check" id="slide_actual_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_actual">
            <label class="form-check-label" for="slide_actual">Слайд с описанием актуальноти работы</label>
        </div>
    <!-- /div for not absolute position -->

    <div class="criteria_container" id="complex_criteria_container"></div>
    <h1 class="criteria_header" id="complex_criteria">Сложные критерии</h1>
        <div class="form-check" id="slide_every_task_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_every_task">
            <label class="form-check-label" for="slide_every_task">Наличие слайда/слайдов на каждую задачу</label>
        </div>
        <h3 class="criteria_sub_header" id="conclusion_analysis">Анализ слайда "Заключение":</h3>
        <div class="form-check" id="slide_results_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_results">
            <label class="form-check-label" for="slide_results">Кратко приведены результаты решения задач со слайда "Цели и задачи"</label>
        </div>
        <div class="form-check" id="slide_along_check">
            <input class="form-check-input" type="checkbox" value="" id="slide_along">
            <label class="form-check-label" for="slide_along">Приведены направления дальнейшей разработки или улучшения программы</label>
        </div>
    <!-- /div for not absolute position -->

    <button id="criteria_save_button">Save</button>
    <div class="footer"></div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
</script>
</body>
</html>