<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/signup.css">
    <script src="/public/scripts/signup.js"></script>
</head>
<body>
<div>
    <div class="header"></div>
    <h1 class="title" id="signup_title">Создать аккаунт</h1>

    <label class="signup_form_label" id="name_label" for="name_text_field">Имя</label>
    <input class="signup_form_field" id="name_text_field" type="text" placeholder="name" aria-label="name" required>
    <label class="signup_form_label" id="surname_label" for="surname_text_field">Фамилия</label>
    <input class="signup_form_field" id="surname_text_field" type="text" placeholder="surname" aria-label="surname" required>
    <label class="signup_form_label" id="email_label" for="email_text_field">Email</label>
    <input class="signup_form_field" id="email_text_field" type="email" placeholder="Email" aria-label="Email" required>
    <label class="signup_form_label" id="password_label" for="password_text_field">Password</label>
    <input class="signup_form_field" id="password_text_field" type="password" placeholder="Password" aria-label="Password" required>
    <label class="signup_form_label" id="confirmation_label" for="confirmation_text_field">Confirm password</label>
    <input class="signup_form_field" id="confirmation_text_field" type="password" placeholder="Confirm password" aria-label="Confirm password" required>

    <button class="btn blue_button" id="signup_button" onclick="signup()">Create account</button>
    <a href="/login" id="login_link">Log in</a>
    <div class="footer"></div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
</script>
</body>
</html>