{% extends "layout.jinja2" %}

{% block title %}Добавить шаблон{% endblock %}

{% block content %}
<link href="{{request.static_url('templater:static/css/styles.css')}}" rel="stylesheet" />
<form id="add-template-form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="template-name">Название шаблона</label>
        <input type="text" class="form-control" id="template-name" name="name" required>
    </div>

    <div class="form-group">
        <label for="template-description">Описание шаблона</label>
        <textarea class="form-control" id="template-description" name="description" rows="4" required></textarea>
    </div>

    <div class="form-group">
        <label for="template-file">Файл шаблона</label>
        <input type="file" class="form-control" id="template-file" name="file" required />
    </div>

    <div class="button-group">
        <button type="button" class="btn btn-cancel" onclick="window.location.href='/templates'">Отмена</button>
        <button type="submit" class="btn btn-add">Добавить</button>
    </div>
</form>


<script>
    document.getElementById('add-template-form').addEventListener('submit', async (event) => {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    try {
        const response = await fetch('/api/add_template', {
            method: 'POST',
            body: formData,
        });

        if (response.ok) {
            alert("Шаблон успешно добавлен");
            window.location.href = '/templates';
        } else {
            const errorData = await response.json();
            alert(`Ошибка: ${errorData.error}`);
        }
    } catch (error) {
        alert("Ошибка при отправке запроса на сервер");
        console.error(error);
    }
});

</script>
{% endblock %}