.criteria_container {
    background: var(--criteria-color);
    border-radius: 4px;

    height: 82.5%;
    padding: .5rem;
}

.criteria_header {
    height: 10%;
    margin-top: 1rem !important;
    margin-bottom: .5rem !important;
}

.criteria_sub_header {
    margin-top: 1rem !important;
}


.form-control-range:disabled ~ .form-range-input, .form-control-range[disabled] ~ .form-range-input {
    color: #6c757d;
}


#slides_number_options_holder {
    margin-bottom: .5rem;
}

#actuality_percent {
    margin-top: .5rem;
}

.form-range-input {
    margin-bottom: 0;
}

#criteria_save_button {
    margin-top: 1rem;
    margin-bottom: .5rem;

    text-align: center;
    color: var(--accent-color);

    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
}
