h5 {
    margin-bottom: 1rem !important;
}

#uploading_body {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#upload_title {
    margin-bottom: 1rem !important;
}

.hidden-table {
            display: none;
        }

#table_info {
  width: 300%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.templater-link {
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: all 0.3s ease;
}

.templater-link:hover {
    color: white;
}

.templater-link:active {
    color: #d0d0d0;
}
