.criteria_container {
    background: var(--criteria-color);
    border-radius: 4px;
}

.criteria_header {
    font-family: Helvetica Neue, serif;
    font-style: normal;
    color: var(--text-color);
}



#criteria_save_button {
    font-family: Helvetica Neue, serif;
    font-style: normal;
    text-align: center;
    color: var(--accent-color);

    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
}