.login_form_label {
    font-family: Helvetica Neue, serif;
    font-style: normal;
    color: var(--text-color);
}

.login_form_field {
    background: var(--bright-color);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 4px;
}

#signup_link {
    display: block;
}
