:root {
    --main-color: #01549B;
    --accent-color: #0275D8;
    --text-color: #373A3C;
    --footer-color:#80878D;
    --background-color: #E5E5E5;
    --bright-color: #FFFFFF;
    --border-color: #CCCCCC;
    --username-color: #FBFBFB;
    --criteria-color: #EDEDED;
}

body {
    overflow: hidden;
}

.scrollable {
    overflow-y: auto;
}



.header {
    background: var(--main-color);
    height: 15vh;
}

.holder {
    background: var(--background-color);
    height: 75vh;
}

.title {
    font-family: Helvetica Neue, serif;
    font-style: normal;
}

.footer {
    background: var(--footer-color);
    height: 10vh;
}



.blue_button {
    background: var(--main-color) !important;
    color: var(--bright-color) !important;
}

.pale_button {
    background: var(--bright-color);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 4px;
}



.username {
    font-family: Helvetica Neue, serif;
    font-style: normal;
    color: var(--username-color);
}