#container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}



ul {
  list-style-type: none;
}

#presentations_tree {
  list-style-type: none;
  user-select: none;
}

#presentations_tree > * {
  user-select: none;
}

.caret {
  cursor: pointer;
}



.caret::before {
  content: "\25B8";
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  content: "\25BE";
}



.nested {
  display: none;
}

.active {
  display: block;
}



.flex {
  display: flex;
}

.micro_button {
  margin-left: auto;
  background: transparent;
  border: 0;
}



.good_link {
  color: limegreen;
}

.good_link:hover {
  color: green;
}

.bad_link {
  color: crimson;
}

.bad_link:hover {
  color: darkred;
}
