.results_table_index {
    width: 10%;
}

.results_table_test {
    width: 45%;
}

.results_table_result {
    width: 45%;
}



#results_title {
    font-family: Helvetica Neue, serif;
    font-style: normal;
    color: var(--text-color);
}
