.upload_form_label {
    font-family: Helvetica Neue, serif;
    font-style: normal;
    color: var(--text-color);
}

h5 {
    margin-bottom: 1rem !important;
}

#uploading_body {
    margin-bottom: 3rem;
}
