{# Accepts: header dependicies #}

{% extends 'root.html' %}

{% block title %}
    Результаты проверок
{% endblock title %}

{% block main %}
    <style>
        .fht-cell { margin: 0 0.2rem 0.2rem; }
    </style>
    <div class="header row">{% include 'header.html' %}</div>
    <table id="check-list-table"
        data-filter-control="true"
        data-pagination="true"
        data-show-search-clear-button="true"
        data-page-list="[5, 10, 25, 50, All]"
        data-ajax="ajaxRequest"
        data-query-params="queryParams"
        data-show-refresh="true"
        data-auto-refresh="true"
        data-auto-refresh-interval="10"
        data-side-pagination="server"
        data-icon-size="lg"
        data-show-filter-control-switch="true"
    >
        <thead>
            <tr>
            <th data-field="id"             data-filter-control="input" data-sortable="true">Upload ID</th>
            <th data-field="title"          data-filter-control="input" data-sortable="true">Title</th>
            {% if current_user.is_admin %}
                <th data-field="user"       data-filter-control="input" data-sortable="true">Username</th>
            {% endif %}
            <th data-field="upload-date"    data-filter-control="datepicker" data-filter-datepicker-options='{"autoclose":true, "clearBtn": true, "multidate":2, "multidateSeparator":"-", "format":"dd.mm.yyyy"}' data-sortable="true">Upload date</th>
            <th data-field="check-date"     data-filter-control="datepicker" data-filter-datepicker-options='{"autoclose":true, "clearBtn": true, "multidate":2, "multidateSeparator":"-", "format":"dd.mm.yyyy"}' data-sortable="true">Check date</th>
            <th data-field="moodle-date"    data-filter-control="datepicker" data-filter-datepicker-options='{"autoclose":true, "clearBtn": true, "multidate":2, "multidateSeparator":"-", "format":"dd.mm.yyyy"}' data-sortable="true">Moodle upload date</th>
            <th data-field="score"          data-filter-control="input" data-sortable="true">Result</th>
            </tr>
        </thead>
    </table>
{% endblock main %}