{# Accepts: header dependicies #}



{% extends "root.html" %}

{% block title %}{{ name }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href={{ url_for("static", filename="styles/presentations.css") }}>
{% endblock %}

{% block scripts %}
    <script src={{ url_for("static", filename="scripts/presentations.js") }}></script>
{% endblock %}

{% block main %}
    <div class="header row">{% include "header.html" %}</div>
    <div class="holder row justify-content-center">
        <div class="col-11 col-sm-8 col-md-5 col-lg-4" id="container">
            <h3 class="texteous text-center ins">{{ "Презентации " + user.name + ":" }}</h3>
                {% if (user.presentations | length) > 0 %}
                    <ul id="presentations_tree">
                        {% for presentation in user.presentations %}
                            <li>
                                <div class="flex">
                                    <span class="caret ins">{{"Презентация '" + presentation.name + "'" }}</span>
                                    {% if me %}
                                        <button class="pale_button micro_button" id="{{ presentation._id }}">&times;</button>
                                    {% endif %}
                                </div>
                                <ul class="nested">
                                    {% for checks in presentation.checks %}
                                        <li>
                                            <a class="{{ "good_link" if checks.correct() else "bad_link" }}" href="{{ "/results/" ~ checks._id}}">
                                                {{ "Проверка '" + (checks._id | string)[-5:] + "'" }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4 class="texteous text-center ins">Презентаций пока нет!</h4>
                {% endif %}
            <div class="row justify-content-end">
                <a class="linked" href="{{ "/profile/" + user.username }}">К профилю</a>
            </div>
        </div>
    </div>
    <div class="footer row"></div>
{% endblock %}
