<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="styles/main.css") }}>
    {% block styles %}{% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>

</body>
    <div class="container-fluid">
        {% block main %}{% endblock %}
    </div>

    <script src={{ url_for("static", filename="scripts/main.js") }}></script>
    {% block scripts %}{% endblock %}
</html>