{# Accepts: "debug", header dependicies #}



{% extends "root.html" %}

{% block title %}Страница с формой отправки презентации на проверку{% endblock %}

{% block styles %}
    <link rel="stylesheet" href={{ url_for("static", filename="styles/upload.css") }}>
{% endblock %}

{% block scripts %}
    <script src={{ url_for("static", filename="scripts/upload.js") }}></script>
{% endblock %}

{% block main %}
    <div class="header row">{% include "header.html" %}</div>
    <div class="holder row justify-content-center">
        <div class="col-11 col-sm-8 col-md-5 col-lg-4 my-auto">
            <h3 class="text-center" id="upload_title">Какую презентацию Вы хотите проверить?</h3>

            <div class="row justify-content-center" id="uploading_body">
                <div class="col my-auto">
                    <form>
                        <h5 class="texteous" id="uploading_label">Презентация</h5>
                        <div class="form-group">
                            <div id="uploading_form" class="custom-file">
                                <input type="file" class="custom-file-input" id="upload_file" accept=".odp, .pptx, .ppt">
                                <label class="custom-file-label" for="upload_file">Выберите файл...</label>
                                <div class="invalid-feedback">Плохой файл!</div>
                            </div>
                        </div>
                        <div id="uploading_progress_holder" class="form-group" style="display: none">
                            <div class="progress">
                                <div id="uploading_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                            </div>
                        </div>
                    </form>
                    <div class="row h-box">
                        <button type="button" class="pale_button" id="uploading_button" onclick="upload()">Загрузить</button>
                        <button type="button" class="pale_button" id="uploading_button" onclick="criteria()">Критерии</button>
                            {% if debug %}
                                <a class="linked flex-grow-1 text-right" href="/upload" onclick="debug()">Preloaded</a>
                            {% endif %}
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" id="uploading_body">
                <div class="col my-auto">
                    <form>
                        <h5 class="texteous" id="uploading_label">Проверка</h5>
                        <div class="form-group">
                            <div id="uploading_progress" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="pale_button" id="uploading_button" onclick="check()">Результат</button>
                </div>
            </div>

        </div>
    </div>
    <div class="footer row"></div>
{% endblock %}
