{# Accepts: "navi_upload", "logout" #}

{% if not current_user.is_anonymous %}
    <div class="col-sm-4 col-md-3 col-lg-2 my-auto">
        {% if navi_upload %}
            <a class="header-linked text-center" href="/upload" id="upload_ref_link">Загрузить новый файл</a>
        {% endif %}
    </div>


    <div class="offset-sm-4 offset-md-3 offset-lg-2 col-sm-4 col-md-6 col-lg-8 my-auto text-right dropdown">
        <h5 class="text-right my-auto" id="user_info" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{ current_user.username }}</h5>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/check_list">Статистика</a>
            {% if current_user.is_admin %}
                <a class="dropdown-item" href="/criterion_packs">Наборы критериев</a>
                <a class="dropdown-item" href="/logs">Логи</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/monitoring/" target="_blank" rel="noopener noreferrer">Celery</a>
                <a class="dropdown-item" href="/version" target="_blank" rel="noopener noreferrer">Version</a>
            {% endif %}
        </div>
    </div>
{% endif %}
