{# Accepts: header dependicies #}


{% extends "root.html" %}

{% block title %}Главная страница{% endblock %}

{% block main %}
<div class="header row">
    <a class="text-right my-auto" id="user_info" href="/login">Вход для администратора</a>
</div>
<div class="holder row justify-content-center">
    <div class="col-11 col-sm-8 col-md-5 col-lg-4 col-xl-3 my-auto">
        <h2 class="text-center ins" id="greeting">Добро пожаловать в Document Insight System </h2>
        <div class="text-center">
            <p>Для использования системы вам необходимо перейти из курса на 
                <br><b><a href="https://e.moevm.info">https://e.moevm.info/</a> </br>
            </p>
        </div>
    </div>
</div>
<script src={{ url_for("static", filename="general.js") }}></script>

{% endblock %}
