{# Accepts: header dependicies #}


{% extends "root.html" %}

{% block title %}{{ name }}{% endblock %}

{% block main %}
    <div class="header row">{% include "header.html" %}</div>
    <div class="holder row justify-content-center">
        <div class="col-11 col-sm-8 col-md-5 col-lg-4 my-auto">
            <h2 class="texteous text-center ins">{{ user.name }}</h2>
            <table class="table fixed" id="profile_table">
                <tbody>
                <tr>
                    <td class="ins">Логин:</td>
                    <td class="ins">{{ user.username }}</td>
                </tr>
                <tr>
                    <td class="ins">Администратор:</td>
                    <td class="ins">{{ "Да" if user.is_admin else "Нет" }}</td>
                </tr>
                {% if me %}
                    <tr>
                        <td>
                            <label id="name_label" for="name_text_field">Имя:</label>
                        </td>
                        <td>
                            <input type="text" class="inputous" id="name_text_field" value="{{ user.name }}">
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            {% if me %}
                <div class="row justify-content-center h-box">
                    <button type="button" class="btn blue_button" id="user_save_button">Сохранить</button>
                    <button type="button" class="pale_button" id="user_logout_button">Выйти</button>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
