{# Accepts: header dependicies #}


{% extends "root.html" %}

{% block title %}Регистрация{% endblock %}

{% block main %}
    <div class="header row">{% include "header.html" %}</div>
    <div class="holder row justify-content-center">
        <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 my-auto">
            <h2 class="text-center ins" id="signup_title">Создать аккаунт</h2>

            <form>
                <div class="form-group row">
                    <label class="texteous col-auto col-sm-3" id="login_label" for="login_text_field">Логин</label>
                    <input class="inputous form-control col-auto col-sm-9" id="login_text_field" type="text"
                           placeholder="Логин" aria-label="Логин" required>
                    <div class="invalid-feedback ins">Невозможный логин!</div>
                </div>
                <div class="form-group row">
                    <label class="texteous col-auto col-sm-3" id="name_label" for="name_text_field">Имя</label>
                    <input class="inputous form-control col-auto col-sm-9" id="name_text_field" type="text"
                           placeholder="Имя" aria-label="Имя" required>
                    <div class="invalid-feedback ins">Имя не может быть пустым!</div>
                </div>
                <div class="form-group row">
                    <label class="texteous col-auto col-sm-3" id="surname_label"
                           for="surname_text_field">Фамилия</label>
                    <input class="inputous form-control col-auto col-sm-9" id="surname_text_field" type="text"
                           placeholder="Фамилия" aria-label="Фамилия" required>
                    <div class="invalid-feedback ins">Фамилия не может быть пустой!</div>
                </div>
                <div class="form-group row">
                    <label class="texteous col-auto col-sm-3" id="password_label"
                           for="password_text_field">Пароль</label>
                    <input class="inputous form-control col-auto col-sm-9" id="password_text_field" type="password"
                           placeholder="Пароль" aria-label="Пароль" required>
                    <div class="invalid-feedback ins">Пароль не может быть пустым!</div>
                </div>
                <div class="form-group row">
                    <label class="texteous col-auto col-sm-3" id="confirmation_label" for="confirmation_text_field">Проверка
                        пароля</label>
                    <input class="inputous form-control col-auto col-sm-9" id="confirmation_text_field" type="password"
                           placeholder="Подтверждение пароля" aria-label="Подтверждение пароля" required>
                    <div class="invalid-feedback ins">Пароли не совпадают!</div>
                </div>
            </form>

            <div class="row justify-content-center">
                <div class="col-8 v-box">
                    <button type="button" class="btn btn-block blue_button" id="signup_button">Создать аккаунт</button>
                    <a class="linked text-right" href="/login" id="login_link">Вход</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
